In [8]:
import pandas as pd
import sys
sys.path.append('/Users/linda/SFpal/data') #Linda: Mac

In [14]:
restaurant = pd.read_csv('/Users/linda/SFpal/data/Restaurants.csv')

In [22]:
restaurant.head(10)

,Location Id,Business Account Number,Ownership Name,DBA Name,Street Address,Source Zipcode,Class Code,PBC Code,Business Start Date,Location Start Date,Mail Address,Business Location
0,0477020-04-001,477020,The Cavalier Sf Llc,The Cavalier Lobby Bar,55 5th St,94103,8,5812,03/01/2013 12:00:00 AM,04/26/2013 12:00:00 AM,360 Jessie St.,"55 5TH ST\nSan Francisco, CA 94103\n(37.783206..."
1,0473469-02-001,473469,Aviles Christina M,Antidote,1346 41st Ave 3,94122,8,3079,10/09/2012 12:00:00 AM,12/06/2013 12:00:00 AM,1346 41st Ave #3,"1346 41ST AVE\nSan Francisco, CA 94122\n(37.76..."
2,0154077-04-001,154077,St Francis Memorial Hospital,St Francis Hospital,900 Hyde St,94109,8,5800,01/01/1986 12:00:00 AM,01/01/1986 12:00:00 AM,900 Hyde Street,"900 HYDE ST\nSan Francisco, CA 94109\n(37.7895..."
3,0190628-05-001,190628,Natali Inc,San Francisco Badlands,4121 18th St,94114,8,5800,04/07/1989 12:00:00 AM,01/31/1999 12:00:00 AM,4121 18th St,"4121 18TH ST\nSan Francisco, CA 94114\n(37.760..."
4,0324118-01-001,324118,Cajun Pacific,Cajun Pacific,4542 Irving St,94122,8,5800,02/05/1999 12:00:00 AM,02/05/1999 12:00:00 AM,4542 Irving St,"4542 IRVING ST\nSan Francisco, CA 94122\n(37.7..."
5,0488275-03-001,488275,Sf Treat Lessee Inc,Hotel Vitale,8 Mission St,94105,8,5800,04/02/2014 12:00:00 AM,04/02/2014 12:00:00 AM,8 Mission St,"8 MISSION ST\nSan Francisco, CA 94105\n(37.793..."
6,0345419-01-001,345419,Gentilia Inc,North Beach Pizza - Pier 39,Pier 39 Space M211,94119,8,5800,04/30/2001 12:00:00 AM,04/30/2001 12:00:00 AM,3054 Taraval St,"M211 San\nFrancisco, CA 94119\n"
7,0364643-35-001,364643,Sodexo America Llc,Barclays,400 Howard St,94105,8,5800,11/18/2002 12:00:00 AM,04/26/2008 12:00:00 AM,Po Box 352,"400 HOWARD ST\nSan Francisco, CA 94105\n(37.78..."
8,0424341-02-001,424341,2e Shqair Inc,Mid City Market,868 Geary St,94109,8,5800,12/01/2007 12:00:00 AM,04/24/2008 12:00:00 AM,868 Geary St,"868 GEARY ST\nSan Francisco, CA 94109\n(37.786..."
9,0458980-04-001,458980,Musleh Michael Abu-Ali Isam,Cole Valley Cafe,701 Cole St,94117,8,5812,04/01/2011 12:00:00 AM,04/01/2013 12:00:00 AM,1673 Haight Street,"701 COLE ST\nSan Francisco, CA 94117\n(37.7684..."

In [16]:
restaurant.shape

(5000, 12)

In [23]:
restaurant['Location'] = restaurant['Business Location'].apply(lambda x: x.split("\n")[-1])

In [24]:
restaurant.Location

0       (37.783206, -122.407093)
1       (37.761607, -122.500628)
2       (37.789561, -122.417112)
3        (37.760859, -122.43552)
4       (37.762266, -122.506896)
5        (37.79339, -122.392993)
6
7        (37.789226, -122.39513)
8       (37.786168, -122.417605)
9       (37.768489, -122.450508)
10      (37.794781, -122.400288)
11      (37.807882, -122.418442)
12       (37.809302, -122.41656)
13
14
15
16      (37.795296, -122.406508)
17      (37.797703, -122.430746)
18       (37.80801, -122.417427)
19       (37.78294, -122.410719)
20      (37.741035, -122.388603)
21       (37.78678, -122.450274)
22      (37.794046, -122.398926)
23      (37.788943, -122.410904)
24      (37.787627, -122.413583)
25      (37.788943, -122.410904)
26      (37.763524, -122.478362)
27      (37.768055, -122.413378)
28      (37.768055, -122.413378)
29      (37.798538, -122.407714)
                  ...
4970    (37.785287, -122.417007)
4971    (37.791911, -122.410257)
4972     (37.791282, -122.40378)
4973    (37.751763, -122.418398)
4974      (37.78802, -122.44081)
4975    (37.722502, -122.436462)
4976    (37.787387, -122.421809)
4977      (37.79743, -122.42369)
4978      (37.79743, -122.42369)
4979      (37.79743, -122.42369)
4980       (37.7272, -122.40343)
4981    (37.782309, -122.405962)
4982    (37.804261, -122.448188)
4983    (37.804261, -122.448188)
4984    (37.781135, -122.503917)
4985      (37.797695, -122.4006)
4986    (37.786868, -122.404445)
4987    (37.742523, -122.487666)
4988    (37.759533, -122.409896)
4989    (37.759533, -122.409896)
4990    (37.759533, -122.409896)
4991    (37.776826, -122.438555)
4992    (37.752215, -122.418973)
4993    (37.789717, -122.390551)
4994    (37.780462, -122.478066)
4995    (37.782064, -122.483655)
4996    (37.765077, -122.398525)
4997     (37.749023, -122.42718)
4998    (37.721869, -122.436936)
4999    (37.759034, -122.414701)
Name: Location, dtype: object